In [42]:
# Import dependencies 
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [43]:
# Setup port
mongo = MongoClient(port=27017)

In [44]:
# Check database names
print(mongo.list_database_names())

['admin', 'autosaurus', 'classDB', 'config', 'epa', 'fruits_db', 'local', 'met', 'petsitly_marketing', 'project3', 'project3trend', 'travel_db', 'uk_food']

In [45]:
# Declare database and collection for the full database 
project3 = mongo['project3']
full_data = project3['full_data']

In [46]:
# Declare database and collection for the trend data
project3trend = mongo['project3trend']
trend_data = project3trend['trend_data']

In [47]:
# FULL DATA
results = full_data.find()
results = list(results)

In [48]:
# Transform into DataFrame
full_data_df = pd.DataFrame(results)
full_data_df.head(10)

,_id,Case #,Shooter Last Name,Shooter First Name,Date,Year,City,State,Latitude,Longitude,...,Social Leakage�,Social Leakage How,Social Leakage Who�,Leakage Specific/Nonspecific�,Interest in Past Mass Violence,Relationship with Other Shooting(s),Specify Relationship to Other Shooting(s),Planning,Interest in Firearms,Criminal Sentence
0,642b5a8ac379276388779140,2,Smith,Robert,11/12/66,1966,Mesa,AZ,33.459937,-111.781900,...,0,NA,NA,NA,1,1,Happened a few months after the Charles Whitma...,1,0,1
1,642b5a8ac379276388779141,3,Held,Leo,10/23/67,1967,Lock Haven,PA,41.125184,-77.451878,...,0,NA,NA,NA,0,0,NA,0,1,0
2,642b5a8ac379276388779142,1,Whitman,Charles,8/1/66,1966,Austin,TX,30.286058,-97.739350,...,1,0,0,1,0,1,Robert Smith killed 5 people a few months afte...,1,1,0
3,642b5a8ac379276388779143,4,Pearson,Eric,3/16/68,1968,Ironwood,MI,46.535978,-90.156262,...,0,NA,NA,NA,0,0,NA,0,0,3
4,642b5a8ac379276388779144,5,Lambright,Donald,4/5/69,1969,Harrisburg,PA,40.103677,-75.755056,...,0,NA,NA,NA,0,0,NA,0,0,0
5,642b5a8ac379276388779145,6,White,Joseph,9/23/70,1970,Albany,NY,42.614852,-73.970812,...,0,NA,NA,NA,0,0,NA,0,0,0
6,642b5a8ac379276388779146,7,McLeod,Harvey Glenn,5/29/72,1972,Raleigh,NC,35.837199,-78.642979,...,0,NA,NA,NA,0,0,NA,0,0,0
7,642b5a8ac379276388779147,8,Grace,Edwin,6/21/72,1972,Cherry Hill,NJ,39.927991,-74.994341,...,0,NA,NA,NA,0,0,NA,0,0,0
8,642b5a8ac379276388779148,9,Essex,Mark,1/7/73,1973,New Orleans�,LA,30.002426,-90.038906,...,1,"1, 1","9, 1","1, 0",0,0,NA,1,0,0
9,642b5a8ac379276388779149,10,Sander,Robert,3/2/75,1975,Smith River,CA,41.949285,-124.199492,...,0,NA,NA,NA,0,0,NA,0,0,0

In [49]:
# Find column names
full_data_df.columns

Index(['_id', 'Case #', 'Shooter Last Name', 'Shooter First Name', 'Date',
       'Year', 'City', 'State', 'Latitude', 'Longitude', 'Killed', 'Injured',
       'Perpetrator Age', 'Perpetrator Gender', 'Location',
       'Total Firearms Brought to the Scene', 'Make and Model',
       'Urban/Suburban/Rural', 'Perpetrator Race', 'Military Service',
       'Military Branch', 'Perpetrator Known to Police or FBI',
       'Perpetrator Criminal Record', 'Perpetrator Part I Crimes',
       'Perpetrator Part II Crimes', 'Recent or Ongoing Stressor',
       'Signs of Being in Crisis', 'Timeline of Signs of Crisis',
       'Signs of Crisis Expanded', 'Inability to Perform Daily Tasks',
       'Notably Depressed Mood', 'Unusually Calm or Happy',
       'Rapid Mood Swings', 'Increased Agitation', 'Abusive Behavior',
       'Isolation', 'Losing Touch with Reality', 'Paranoia', 'Suicidality',
       'Prior Hospitalization', 'Voluntary or Involuntary Hospitalization',
       'Prior Counseling', 'Voluntary or Mandatory Counseling',
       'Psychiatric Medication', 'Psychiatric Medication Specified',
       'Medication Category', 'Mental Illness',
       'FASD (Fetal Alcohol Spectrum Disorder)', 'Autism Spectrum',
       'Substance Use', 'Health Issues', 'Health Issues - Specify',
       'Head Injury / Possible TBI', 'Known Prejudices�',
       'Motive: Racism/Xenophobia', 'Motive: Religious Hate',
       'Motive: Misogyny', 'Motive: Homophobia', 'Motive: Employment Issue',
       'Motive: Economic Issue', 'Motive: Legal Issue',
       'Motive: Relationship Issue', 'Motive: Interpersonal Conflict�',
       'Motive: Fame-Seeking', 'Motive: Other�', 'Motive: Unknown',
       'Role of Psychosis in the Shooting', 'Social Media Use�',
       'Social Leakage�', 'Social Leakage How', 'Social Leakage Who�',
       'Leakage Specific/Nonspecific�', 'Interest in Past Mass Violence',
       'Relationship with Other Shooting(s)',
       'Specify Relationship to Other Shooting(s)', 'Planning',
       'Interest in Firearms', 'Criminal Sentence'],
      dtype='object')

In [50]:
# Pair down to only relevant columns
full_data_df = full_data_df[['Case #', 'Shooter Last Name', 'Shooter First Name', 'Date',
       'City', 'State','Killed', 'Injured',
       'Perpetrator Age', 'Perpetrator Gender', 'Location',
       'Total Firearms Brought to the Scene', 'Make and Model',
       'Perpetrator Race', 'Perpetrator Known to Police or FBI',
       'Perpetrator Criminal Record', 'Perpetrator Part I Crimes',
       'Perpetrator Part II Crimes', 'Mental Illness','Social Media Use�',
       'Social Leakage�','Interest in Past Mass Violence',
       'Relationship with Other Shooting(s)',
       'Specify Relationship to Other Shooting(s)']]

In [51]:
# Check data
full_data_df

,Case #,Shooter Last Name,Shooter First Name,Date,City,State,Killed,Injured,Perpetrator Age,Perpetrator Gender,...,Perpetrator Known to Police or FBI,Perpetrator Criminal Record,Perpetrator Part I Crimes,Perpetrator Part II Crimes,Mental Illness,Social Media Use�,Social Leakage�,Interest in Past Mass Violence,Relationship with Other Shooting(s),Specify Relationship to Other Shooting(s)
0,2,Smith,Robert,11/12/66,Mesa,AZ,5,2,18,0,...,0,0,0,0,2,2,0,1,1,Happened a few months after the Charles Whitma...
1,3,Held,Leo,10/23/67,Lock Haven,PA,6,6,39,0,...,1,0,0,1,4,2,0,0,0,NA
2,1,Whitman,Charles,8/1/66,Austin,TX,15,31,25,0,...,0,1,0,9,1,2,1,0,1,Robert Smith killed 5 people a few months afte...
3,4,Pearson,Eric,3/16/68,Ironwood,MI,7,2,56,0,...,0,0,0,0,0,2,0,0,0,NA
4,5,Lambright,Donald,4/5/69,Harrisburg,PA,4,17,31,0,...,0,0,0,0,2,2,0,0,0,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,186,Louis,Michael,6/1/22,Tulsa,OK,4,0,45,0,...,0,0,0,0,0,0,0,0,0,NA
185,187,Crimo,Robert,7/4/22,Highland Park,IL,7,46,21,0,...,1,0,0,0,4,1,1,1,0,NA
186,188,Thompson,Austin,10/13/22,Raleigh,NC,5,2,15,0,...,0,0,0,0,0,0,0,0,0,NA
187,189,Aldrich,Anderson�,11/19-20/2022,Colorado Springs,CO,5,19,22,3,...,1,0,0,0,4,0,1,1,0,NA
188,190,Bing,Andre,11/22/22,Chesapeake,VA,6,6,31,0,...,0,0,0,0,2,0,0,0,1,Two days after Club Q shooting�

In [52]:
# TREND DATA
trend_results = trend_data.find()
trend_results = list(trend_results)

In [53]:
# Transform into DataFrame
trend_data_df = pd.DataFrame(trend_results)
trend_data_df.head(10)

,_id,Year,U,Total U,Mass Shootings (Incidents),Mass Shooting Rate Per Million,Mass Shooting Yearly Growth Rate (Incidents),Mass Shooting 3 Year Average (Incidents),Mass Shooting 5 Year Average (Incidents),Mass Shooting 10 Year Average (Incidents),Mass Shooting Deaths (Total),Deaths per Mass Shooting (Mean),Mass Shooting Death Rate per Million,Mass Shooting 3 Year Average (Deaths),Mass Shooting 5 Year Average (Deaths),Mass Shooting 10 Year Average (Deaths)
0,64264b4944ade50f1c32495e,1973,"{'S': {' Population (Census)': '211,908,788', ...","{'S': {' Murders (FBI UCR)': '19,640'}}",1,0.004719,2.45,1.5,1.25,,7,7,0.033033,8.5,6.25,
1,64264b4944ade50f1c32495f,1966,"{'S': {' Population (Census)': '196,560,338', ...","{'S': {' Murders (FBI UCR)': '11,040'}}",2,0.010175,2,,,,20,10,0.10175,,,
2,64264b4944ade50f1c324960,1974,"{'S': {' Population (Census)': '213,853,928', ...","{'S': {' Murders (FBI UCR)': '20,710'}}",,0,2.52,1.5,1.333333,,,,0,8.5,7,
3,64264b4944ade50f1c324961,1970,"{'S': {' Population (Census)': '205,052,174', ...","{'S': {' Murders (FBI UCR)': '16,000'}}",1,0.004877,2.25,1,1.2,,4,4,0.019507,5,8.2,
4,64264b4944ade50f1c324962,1972,"{'S': {' Population (Census)': '209,896,021', ...","{'S': {' Murders (FBI UCR)': '18,670'}}",2,0.009529,2.38,1.5,1.25,,10,5,0.047643,7,6.25,
5,64264b4944ade50f1c324963,1967,"{'S': {' Population (Census)': '198,712,056', ...","{'S': {' Murders (FBI UCR)': '12,240'}}",1,0.005032,2.06,,,,6,6,0.030194,,,
6,64264b4944ade50f1c324964,1969,"{'S': {' Population (Census)': '202,676,946', ...","{'S': {' Murders (FBI UCR)': '14,760'}}",1,0.004934,2.18,1,,,4,4,0.019736,5.666667,,
7,64264b4944ade50f1c324965,1968,"{'S': {' Population (Census)': '200,706,052', ...","{'S': {' Murders (FBI UCR)': '13,800'}}",1,0.004982,2.12,1.333333,,,7,7,0.034877,11,,
8,64264b4944ade50f1c324966,1971,"{'S': {' Population (Census)': '207,660,677', ...","{'S': {' Murders (FBI UCR)': '17,780'}}",,0,2.31,1,1,,,,0,4,5.25,
9,64264b4944ade50f1c324967,1975,"{'S': {' Population (Census)': '215,973,199', ...","{'S': {' Murders (FBI UCR)': '20,510'}}",1,0.00463,2.59,1,1.333333,1.25,5,5,0.023151,6,7.333333,7.875

In [54]:
# Find column names
trend_data_df.columns

Index(['_id', 'Year', 'U', 'Total U', 'Mass Shootings (Incidents)',
       'Mass Shooting Rate Per Million',
       'Mass Shooting Yearly Growth Rate (Incidents)',
       'Mass Shooting 3 Year Average (Incidents)',
       'Mass Shooting 5 Year Average (Incidents)',
       'Mass Shooting 10 Year Average (Incidents)',
       'Mass Shooting Deaths (Total)', 'Deaths per Mass Shooting (Mean)',
       'Mass Shooting Death Rate per Million',
       'Mass Shooting 3 Year Average (Deaths)',
       'Mass Shooting 5 Year Average (Deaths)',
       'Mass Shooting 10 Year Average (Deaths)'],
      dtype='object')